* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 10px auto;
}

button {
  margin: 0 auto;
  margin-bottom: 10px;
}

.grid {
  border: .5px solid;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.grid:hover {
  cursor: crosshair;
}

.row {
  display: flex;
  flex: 1 1 0;
}

.square {
  flex: 1 1 0;
  border: .5px dashed rgba(0, 0, 0, 0.2);
}

